OBS_HOST=localhost
OBS_PORT=4455
OBS_PASSWORD=
NAME_GUI_TEXT_OBS=SpotifyNowPlaying
TIME=5000
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback
SPOTIFY_REFRESH_TOKEN=
